*{
	box-sizing: border-box;
}

body{
	background-image: url("../images/background4.jpg");
	width: 90%;
}
footer{
	text-align: center;
	margin-top:38rem;
	color:#fff
}

img{
	float: right;
	height:50px;
	width:50px;
}
.buttons{
	position: absolute;
	left: 90%;
	top: 0%;
}
.musicdivs{
	color:white;
	position: absolute;
	left: 30%;
	top:20%;

}

form, input{}