*{
	box-sizing: border-box;
}

body{
	background-image: url("../images/background4.jpg");
	width: 100%;
}

img{
	float: right;
	height:50px;
	width:50px;
}
<<<<<<< HEAD

.result{
	opacity: 1;
}

=======
>>>>>>> 79d3967f67d81de10872cc58377d81258de7a6ea
.buttons {
	position: absolute;
	left: 90%;
	top: 0%;
}
.music divs{
	color:white;
	position: absolute;
	left: 30%;
	top:20%;
}

footer{
	width: 100%;
	height: 70px;
	background-color: black;
	padding-top: 25px;
	text-align: center;
	margin-top:44rem;
	color:#fff
}